.input-group {
  position: relative;
  margin: 10px 0px;
  height: 40px;
  border-radius: 0;
}
.input-group:hover {
  box-shadow: var(--box-shadow);
}
.input-group input{
  border-radius: 5px!important;
}
.input-group > input {
  height: 100%;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 40px;
  background-color: var(--input-bg);
  border-radius: 5px;
  color: var(--txt-color);
}
.input-group > input[type="file"] {
  display: none;
}
input.file-name ~ button {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background-color: transparent;
  font-size: 1rem;
  line-height: 40px;
  padding-right: 10px;
  color: var(--txt-color);
}
input.file-name ~ button:hover {
  color: var(--main-color);
}
.input-group i {
  position: absolute;
  left: 15px;
  font-size: 1.5rem;
  line-height: 40px;
  color: var(--txt-color);
}
.input-group > textarea {
  width: 100%;
  height: 150px;
  max-height: 250px;
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
  background-color: var(--input-bg);
  color: var(--txt-color);
}
.input-group > textarea:focus {
  border-color: var(--main-color);
}
.input-group > select {
  width: 100%;
  height: 100%;
  background-color: var(--input-bg);
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 5px;
  color: var(--txt-color);
}

.input-group.textarea {
  height: auto;
}

.input-group.input-image {
  height: auto;
}
.input-group.input-image > input {
  height: 40px;
}
.input-group.input-image > img {
  width: 300px;
  height: 200px;
}
.input-group.input-image i {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.input-group.input-image input.file-name ~ button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.card-header__Lesson {
  display: flex;
  justify-content: space-between;
}
.card-header__Lesson > button {
  font-size: 1.5rem;
  transform: scale(0.8);
  background-color: transparent;
  transition: transform 0.5s ease;
}
.card-header__Lesson > button:hover {
  color: var(--main-color);
  transform: scale(1);
}

.Lesson-chap-header button {
  font-size: 1.2rem;
  transform: scale(0.8);
  background-color: transparent;
  transition: transform 0.5s ease;
}
.Lesson-chap-header button:hover {
  color: var(--main-color);
  transform: scale(1);
}
.lesson-chap-header {
  display: flex;
  justify-content: space-between;
}
.Lesson-chap ul {
  margin: 10px 15px;
}
.card-footer input {
  background-color: var(--input-bg);
  height: 30px;
  padding:5px 10px;
  border-radius: 5px;
}
.card-footer button{
  height: 30px;
  color: var(--txt-color);
  font-size: 1rem;
  background-color: transparent;
  font-weight: 500;
  width: 50px;
}
